In [1]:
print('hello')

hello

In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.1.4'

In [ ]:
!pip install sqlalchemy psycopg2-binary

In [4]:
from sqlalchemy import create_engine

In [5]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [6]:
engine.connect()

In [7]:
que = 'SELECT 1 as number'

pd.read_sql(que, con=engine)

   number
0       1

In [ ]:
df = pd.read('yellow_tripdata_2021-01.csv', nrows = 100')